.container-cobranca {
    width: 100%;
    display: flex;
    margin-top: 25px;
    gap: 10px;
}

.colunas-cobranca {
    width: 88%;
    display: flex;
    align-items: center;
    height: 450px;
    justify-content: center;
    flex-direction: column;
}

.colunas-cobranca img {
    width: 30%;
}

.colunas-cobranca h1 {
    font-size: 20px;
    color: var(--verde);
    font-weight: 700;
}