.container-suporte{
    width: 100%;
    display: flex;
    align-content: center;
    gap: 10px;
}

.cadastro-img{
    width: 88%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.cadastro-img label{
    color: var(--verde);
    font-size: 20px;
    font-weight: 700;
}

.cadastro-img img{
    width: 30%;
}

.subcontainer-suporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 88%;
    height:450px;
}

.subcontainer-suporte img{
    width: 30%;
}

.subcontainer-suporte h1{
    font-size: 20px;
    font-weight: 700;
    color: var(--verde);
}