.container-header-cobranca {
    display: flex;
    align-items: start;
    gap: 3px;
    flex-direction: column;
    width: 13%;
}

.container-header-cobranca button {
    display: flex;
    cursor: pointer;
    font-weight: 100;
    font-size: 12px;
    align-items: center;
    text-align: start;
    gap: 10px;
    background-color: var(--verde);
    color: var(--branco);
    width: 100%;
}

.container-header-cobranca button.active {
    border-bottom: 3px solid yellow;
    /* Adapte conforme necessário */
    transform: none;
}