.container-parcelas {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  width: 90%;
}

.filtro-container-parcelas {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.container-linha-gerador{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  background-color: var(--cinza-leve);
  border-radius: 10px;
  padding: 15px;
  gap: 30px;
}

.container-linha-parcelas {
  width: 70%;
  background-color: var(--cinza-leve);
  padding: 10px;
  border-radius: 10px;
}



.linha-parcelas {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.linha-parcelas2 {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.linha-parcelas3 {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

.campos-parcelas {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.campos-parcelas1 {
  width: 20%;
  margin-top: 15px;
}

.campos-parcelas1 button{
  font-size: 10px;
  background-color: var(--verde);
  color: var(--branco);
  font-weight: 700;
  padding: 10px;
}

.campos-parcelas label {
  font-size: 12px;
  font-weight: 500;
}

.options-table-parcelas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 80%;
}

.buttons-parcelas {
  width: 100%;
}

.valores-tabela-parcela {
  width: 80%;
}

.valores-tabela-parcela input {
  width: 100%;
  text-align: center;
  font-weight: 500;
  background-color: var(--branco);
  padding: 5px;
  border: 1px solid var(--verde);
}

.selected-row {
  background-color: #006b33 !important;
  color: #fff;
}

.campos-parcelas2 {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.campos-parcelas2 label {
  font-size: 12px;
  font-weight: 500;
}

.campos-parcelas2 select {
  background-color: var(--cinza-leve);
  font-weight: 500;
  font-size: 12pxF;
}

.campos-parcelas2 input {
  background-color: var(--cinza-leve);
  font-weight: 500;
  font-size: 12pxF;
}

.campos-parcelas3 {
  display: flex;
  flex-direction: column;
  width: 17%;
}

.campos-parcelas3 label {
  font-size: 12px;
  font-weight: 500;
}

.campos-parcelas3 input {
  background-color: var(--cinza-leve);
  font-weight: 500;
  font-size: 12pxF;
}

.campos-parcelas3 select {
  background-color: var(--cinza-leve);
  font-weight: 500;
  font-size: 12pxF;
}

.campos-parcelas4 {
  display: flex;
  flex-direction: column;
  width: 97%;
}

.campos-parcelas4 label {
  font-size: 12px;
  font-weight: 500;
}

.campos-parcelas4 textarea{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--cinza-leve);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    outline: none;
    
}

.campos-gerador-parcelas{
  width: 35%;
}

.campos-gerador-parcelas label{
  font-size: 12px;
  font-weight: 500;
}


.container-parcelas{
  margin-top: 26px;
  display: flex;
  gap: 10px;
  width: 95%;
}



.campos-gerador-parcelas2{
  width: 10%;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 10px;
}

.campos-gerador-parcelas2 label{
  font-size: 12px;
  font-weight: 500;
}

.campos-gerador-parcelas2 input{
  background-color: var(--branco);
  font-weight: 500;
  width: 100%;
}

.campos-gerador-parcelas3{
  width: 25%;
}

.campos-gerador-parcelas3 label{
  font-size: 12px;
  font-weight: 500;
}

.campos-gerador-parcelas3 select{
  background-color: var(--branco);
  font-weight: 500;
  padding: 6px;
  width: 100%;
}

.campos-button-parcelas1{
  margin-top: 20px;
  width: 18%;
}



.campos-result-parce{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:15%;
  gap: 5px;
}

.campos-result-parce label{
  color: var(--verde);
  font-weight: 800;
  font-size: 12px;
  text-align: center;
}

.campos-result-parce input{
  width: 100%;
  font-weight: 700;
  gap: 20px;
  text-align: start;
  font-size: 12px;
  color: var(--verde);
  background-color: var(--branco);
}

.desconto-gerador{
  display: flex;
  align-items: center;
  background-color: var(--branco);
  padding: 5px;
  border-radius: 5px;
  color: var(--verde);
  padding-left: 8px;
}

.campos-result-parce p{
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: start;
  color: var(--verde);
  font-weight: 700;
  background-color: var(--branco);
  padding: 10px;
  width: 83%;
  font-size: 12px;
  border-radius: 5px;    
}

.campos-parcelas2-gerador {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.campos-parcelas2-gerador label {
  font-size: 12px;
  font-weight: 500;
}

.campos-parcelas2-gerador select {
  background-color: var(--cinza-leve);
  font-weight: 500;
  font-size: 12pxF;
}

.campos-parcelas2-gerador input {
  background-color: var(--cinza-leve);
  font-weight: 500;
  font-size: 12pxF;
}

.disabled-button {
  color: #666;
  margin-top: 8px;
  border-radius: 5px;
  cursor: not-allowed;
}

.disabled-button button{
  font-size: 10px;
  margin-top: 6px;
  color: var(--branco);
  font-weight: 700;
  padding: 12px;
}
